* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bground-url: url("./img/1.jpg")
}

/* body{
    width: 100vw;
    height: 100vh;
    background-color: #333;
    background-image: var(--bground-url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */
@import url("https:fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500:1,400&display=swap");

html {
    font-size: 62.5%;
    font-size: "Roboto", sans-serif, Arial, Helvetica;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.bodytwo{
    overflow: hidden;
}

.header {
    border-bottom: 1px solid #e2e8f0;
}

.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 3rem 10rem;
    background-color: #fff;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    --webkit-transition: all .3s ease-in-out;
    background-color: black;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
    font-size: 18px;
    font-family: Ubuntu, Geneva, Tahoma, "sans-serif";
    font-weight: 400;
    font-style: #1f1f1f;
}

.nav-link {
    font-size: 18px;
    font-family: Ubuntu, Geneva, Tahoma, "sans-serif";
    font-weight: 400;
    color: #1f1f1f;
}

.nav-link:hover {
    color: #4c4c4c;
}

.banner {
    
    width: 100%;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.banner p {
    text-align: center;
    padding-bottom: 55px;
    font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    color: #ffffff;
    font-size: 45px;
}
.banner div{
    display: flex;
    justify-content: center;
}
.banner button {
    /* float: left; */
    /* margin-left: 47%; */
    padding: 20px 40px;
    /* left: 50%; */
    /* transition: .3s; */
    font-family: Ubuntu, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    outline: none;
}

/* .banner button:hover{
    padding: 22px 42px;
    font-size: 17px;
    transition: .3s;
} */
.middle {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.middle p {
    text-align: center;
    font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 27px;
    color: #1f1f1f;
}

.middle1 {
    display: flex;
    /* margin: 20px; */
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.middle1 div {
    width: 25%;
    padding: 20px;
}

.middle1 div img {
    width: 100%;
}

.middle1 div p {
    text-align: center;
    font-family: 'Ubuntu', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: 16px;
    color: #4c4c4c;
    ;
}

.middle2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.middle2 div {
    width: 16%;
    padding: 10px;
}

.middle2 div img {
    width: 100%;
}

.middle2 div p {
    padding-top: 30px;
    text-align: center;
    font-family: 'Ubuntu', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: 20px;
    color: #4c4c4c;
}

.middle3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle3 div {
    display: block;
    margin: 0 auto;
}

.middle3 img {
    padding: 40px 0;
    width: 100%;
}

footer {
    padding-bottom: 50px;
}

footer p {
    text-align: center;
    font-family: 'Ubuntu', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: 16px;
    padding: 5px;
    color: #4c4c4c;
}

@media only screen and (max-width:676px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .navbar {
        padding: 1rem 2rem;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        /* border-radius: 10px; */
        text-align: center;
        transition: all .3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .banner {
        padding: 60px 0;
    }

    .banner p {
        font-size: 36px;
        padding-bottom: 30px;
    }
    .middle {
        font-size: 27px;
        color: #1f1f1f;
    }
    .middle1 div{
        width: 100%;
    }
    .middle2 div{
        width: 100%;
        padding: 20px;
    }
    .middle2 div p{
        padding-top: 10px;
    }
    .middle3 div{
        width: 100%;
        padding: 10px;
    }
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}